html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 10px;
  padding: 10px;
  background-image: url('../assets/porte+background.jpg');
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
  text-decoration: inherit;
}
.nav-list {}
.nav-item {
  justify-content: center;
  margin: 5px;
}
ul, li {}
.logo {
  background: radial-gradient(green, lightgreen, transparent );
  padding: 10px;
}
.flexslider {
  max-width: 300px;
}
.fb-cntnr {
  display: flex;
  flex-direction: column;
}
.fb-item {
  margin: auto;
}
.main-nav {}

.diapo {
  margin: 20px auto 40px auto;
}
.placeholder {
  width: 300px;
  height: 200px;
  background-color: white;
}
.accueil {
  background-color: white;
}
.menu-page {
  width: 500px;
  margin: 20px;
}
.plan-caption {
  text-align: center;
  background-color: white;
  border-radius: 5px;
}