html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 10px;
    padding: 10px;
    background-image: url('../assets/porte+background.jpg');
    height: 2000px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
}

.flex-column  {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
}

#display-fbc {
    margin: auto;
    width: 800px;
    display: flex;
    flex-direction: column;
}

#header-fbc {
    margin: 0 auto 40px auto;
    display: flex;
}
.margin-center {
    margin: 0 auto;
}

#nav-fbc {
    display: flex;
    flex-direction: column;
}

#nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-item {
    flex-shrink: 2;
}

#main-fbc {
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: inherit;
    overflow: auto;
}

#footer-fbc {
    margin: auto;
    display: flex;
}

.logo {
    background: radial-gradient( white, transparent);
    padding: 10px;
}

.placeholder {
    margin: 40px auto;
    padding: 10px;
    width: 300px;
    background-color: white;
}

.contact {
    padding: 10px;
    margin: auto;
    background-color: white;
}

.bg-white {
    background-color: white;
}
.bg-black {
    background-color: black;
}
.width-thumbnail {
    width: 300px;
}
.margin-center {
    margin 0 auto;
}
.border {
    border-radius; 7px;
}

#carte-fbc {
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#thumbnail-diapo {
    margin: auto;
    width: 300px;
    background-color: white;
}