@import url('https://fonts.googleapis.com/css?family=Macondo');
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 10px;
    padding: 10px;
    background-image: url('../assets/saint-al-porte-unsaturated.jpg');
    background-repeat: no-repeat;
    height: 2000px;
    font-family: Macondo, serif;
}
.bigfont {
    font-size: 24px;
}
.italic {
    font-style: italic;
}
a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

#display-fbc {
    margin: auto;
    width: 800px;
    display: flex;
    flex-direction: column;
}

#header-fbc {
    margin: 0 auto 40px auto;
    display: flex;
}

.margin-center {
    margin: 0 auto;
}
.margin-top {
    margin-top: 20px;
}
.margin-bottom {
    margin-bottom: 20px;
}
.margin-left {
    margin-left: 20px;
}
.margin-right {
    margin-right: 20px;
}
#nav-fbc {
    display: flex;
    flex-direction: column;
}

#nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-item {
    flex-shrink: 2;
    }
.margin-side {
    margin-right: 25px;
}

#main-fbc {
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: inherit;
    overflow: auto;
}

#footer-fbc {
    margin: auto;
    display: flex;
}

.logo {
    background: radial-gradient( white, transparent);
    padding: 10px;
}

.placeholder {
    margin: 10px auto;
    padding: 10px;
    background-color: white;
}

.contact {
    padding: 10px;
    margin: auto;
    background-color: white;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.width-thumbnail {
    width: 400px;
}

.width-carte {
    width: 750px;
}

.border {
    border-radius: 7px;
}

#carte-fbc {
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#thumbnail-diapo {
    margin: auto;
    width: 300px;
    background-color: white;
}

.padding-bottom {
    padding-bottom: 40px;
}

.padding {
    padding: 15px;
}